.calendar{
    display: flex;
    gap: 20px;
}

.calendar-box{
    width: 1200px;
    margin-top: 60px;
    margin-left: 90px;
}

.calendar-box-top-navigation{
    display: flex;
    justify-content: center;
}

.calendar-box-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 122px;
    gap: 15px;
}